.transactionHistory {
    text-align: center;
}
.thead{
    background-color: rgb(144, 144, 250);
    text-transform: uppercase;
    color: white;
}

.th{
    padding: 10px 30px;
    border: solid 0.5px rgb(94, 93, 93);
}